[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromedriver-py = "==107.0.5304.62"

[dev-packages]
autopep8 = "*"
selenium = "*"
get-gecko-driver = "*"
faker = "*"
pytest = "*"
pytest-xdist = "*"
sttable = "*"
jsonschema = "*"
requests = "*"
pylint = "*"
pycodestyle = "*"
assertpy = "*"
pytest-bdd = "<=6.0.1"
flake8 = "*"

[requires]
python_version = "3.10"
